.case-img
{
    height:545px;
    width:607px;   
    margin-left:0px;
}
.tb
{
    margin-left:250px;
    margin-top:100px;
}
.cases-box
{
    border:5px solid lightblue;
    width: 500px;
    height: 350px;
    margin-left:100px;
}
#label1
{
    border: 5px solid  black;
}